<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Traning System UoG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            background-image: url( https://i.pinimg.com/236x/2c/ad/b4/2cadb4e88b4aad3b8a036da6ac1cfabd--color-palette-blue-color-palettes.jpg);
            background-size: 100%
        }
    </style>

</head>

<body >

    <div class="navbar  navbar-fixed-top" style="background-color: whitesmoke; border:blue double; height:130px; width:1200px; margin-left:140px;">
        <div class="container">

            <div class="navbar-header">
                <img src="https://images.cdn2.stockunlimited.net/preview1300/education-logo-design_1969752.jpg" style="width:110px; height:110px; margin-top:5px; " />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="navbar ">
                <ul class="nav navbar-nav" style="margin-top: 15px; margin-left: 10px; background-color:white;  border:double;">

                    @Html.ActionLink("HOME PAGE", "Index", "Home", null, new { @class = " btn btn-secondary btn-lg  " })

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admins")</li>
                        <li>@Html.ActionLink("Staff", "Index", "Staffs")</li>
                        <li>@Html.ActionLink("Trainee", "Index", "Trainees")</li>
                        <li>@Html.ActionLink("Trainer", "Index", "Trainers")</li>
                        <li>@Html.ActionLink("Course", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Topic", "Index", "Topics")</li>
                        <li>@Html.ActionLink("Class Room", "Index", "Rooms")</li>
                        <li>@Html.ActionLink("Assign Course", "Index", "Enrollments")</li>
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 150px; background-color: white; border: 5px groove #ff0000; ">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Traning System UoG</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
